@keyframes text {
    0% {
      background-position: 0 0;
    }
    to {
      background-position: -150%0;
    }
  }
  @keyframes light {
    0%,
    to {
      box-shadow: 0 0 4px red;
    }
    25%,
    75% {
      box-shadow: 0 0 16px #0f0;
    }
    50% {
      box-shadow: 0 0 4px #00f;
    }
  }

  .text {
    font-size: 14px;
    background: linear-gradient(
      90deg,
      #ff00f2 20%,
      #00eeff 40.3%,
      #2600ff 66.6%,
      #ffffff 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 100%;
    animation: text 2s infinite linear;
  }
  .bg-gd-index {
    background: #fff linear-gradient(135deg, #4bffb954 0, #ff48c742 100%) !important;
  }
  .bg-gd-indexg {
    background: #fff linear-gradient(135deg, #4bffb978 0, #ff48c794 100%) !important;
  }
  .dg-Team-work {
    background-color: #171252c7!important;
  }
  .dg-tttt {
    background-color: #ff9b30f1 !important;
  }
  .dg-star-light {
    background-color: #e70ce0f1 !important;
  }
  .dg-spam-sms {
    background-color: #74d47cf1 !important;
  }
  .dg-stress-attack-ddos {
    background-color: #ff5252 !important;
  }
  .dg-Facebook {
    background-color: #242424 !important;
  }
  .dg-SourceCode {
    background-color: #e0cb0bb5 !important;
  }
  .dg-Chich-sach {
    background-color: #10d7fff1 !important;
  }
  .text-gn {
    color: #2893ff !important;
  }
  .text-tese {
    color: #ff4777 !important;
  }
  .text-sheji {
    color: tomato !important;
  }
  .text-jiage {
    color: #fff !important;
  }
  .text-yonhu {
    color: #90f !important;
  }
  .img-touxian {
    margin: 0.25rem;
    box-shadow: 0 0 0 0.25rem #e69e9e;
  }
  .text-zhzt {
    color: #1fe64a !important;
  }
  .avatar {
    border-radius: 50%;
    animation: light 4s ease-in-out infinite;
    transition: 0.5s;
  }
  .avatar:hover {
    transform: scale(1.15) rotate(720deg);
  }
  .bg-admin-info {
    background: #fff linear-gradient(135deg, #3f71ff38 0, #4bffb44f 100%) !important;
  }
  .bg-admin-info0 {
    background: #fff linear-gradient(135deg, #aba5ff5c 0, #ff919154 100%) !important;
  }
  .bg-admin-update {
    background: #fff linear-gradient(135deg, #4bffac4d 0, #ff48e84d 100%) !important;
  }
  .bg-admin-update0 {
    background: #fff linear-gradient(135deg, #d8a5ffc2 0, #91fff596 100%) !important;
  }
  .bg-user-dusk {
    background: #fff linear-gradient(135deg, #4bffeea3 0, #ff485678 100%) !important;
  }
  .bg-user-vip {
    background: #fff linear-gradient(135deg, #c19dff94 0, #fff8a661 100%) !important;
  }
  .bg-user-agent {
    background: #fff linear-gradient(135deg, #ffa6d2f2 0, #90fffb70 100%) !important;
  }
  .bg-user-money {
    background: #fff linear-gradient(135deg, #9fa2ff5e 0, #ffa5a599 100%) !important;
  }
  .bg-user-loca {
    background: #fff linear-gradient(135deg, #fb8f5863 0, #6bff9380 100%) !important;
  }
  .bg-user-faq {
    background: #fff linear-gradient(135deg, #7cff908c 0, #95a2ff82 100%) !important;
  }
  .bg-user-profile {
    background: #fff linear-gradient(135deg, #ff959566 0, #85afff73 100%) !important;
  }
  .bg-user-addtime {
    background: #fff linear-gradient(135deg, #67ffbba1 0, #b98bffdb 100%) !important;
  }
  .bg-user-muted {
    background: #fff linear-gradient(135deg, #36ff90e0 0, #5e7eff9c 100%) !important;
  }
  .bg-user-nickname {
    background: #fff linear-gradient(135deg, #ae54ff69 0, #7affb194 100%) !important;
  }
  .bg-user-session {
    background: #fff linear-gradient(135deg, #ff80bd7a 0, #8bff9a78 100%) !important;
  }
  .bg-user-user {
    background: #fff linear-gradient(135deg, #ff909063 0, #65ffab80 100%) !important;
  }
  .bg-user-account {
    background: #fff linear-gradient(135deg, #ff656554 0, #b0b9ff5c 100%) !important;
  }
  .bg-user-job {
    background: #fff linear-gradient(135deg, #a8fff08c 0, #a26cff8a 100%) !important;
  }
  .bg-user-execute {
    background: #fff linear-gradient(135deg, #985bff7a 0, #47ffac91 100%) !important;
  }
  .bg-index-0 {
    background: #fff linear-gradient(135deg, #c19dff94 0, #fff8a661 100%) !important;
  }
  .bg-head {
    background: #fff linear-gradient(135deg, #dbb8ffc2 0, #32ff86d4 100%) !important;
  }
  .bg-head-user {
    background: #fff linear-gradient(135deg, #b770ffab 0, #5dff9fd4 100%) !important;
  }
  .bg-head-head {
    background: #fff linear-gradient(135deg, #ff878796 0, #fff 100%) !important;
  }
  .bg-head-hover {
    background: #fff linear-gradient(135deg, #ff878766 0, #ffebeb 100%) !important;
  }
  .bg-head-index,
  .bg-head-tm {
    background-color: #ffffff00;
  }
  .bg-head-icp {
    background: #ffffff00 linear-gradient(135deg, #7affb16b 0, #decbfbc7 100%) !important;
  }
  