.bog{
  width: auto;
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
}
.des1{
	color: red;
}
.des2{
	color: #993399;
}
.des3{
	color: #0000CC;
}
.des4{
	color: #66CC66;
}
.nut1{
	width: 200px;
	hight: 50px;
   border: 1px solid grey;
   border-radius: 10px;
   text-align: center;
   color: #FFFFFF;
   background: red;
}
.nut2{
	width: 200px;
	hight: 50px;
   border: 1px solid grey;
   border-radius: 10px;
   text-align: center;
   color: #FFFFFF;
   background: #0000CC;
}
.bg{
    width: auto;
    height: auto;
    background: #ffffff;
}
.t1{
    color: red;
}
.n1{
    width: 300px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    color: red;
    font-weight: 700;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 1px;
    display: inline-block;
    margin-top: 5px;
}
.n2{
    width: 300px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    color: red;
    font-weight: 700;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 1px;
    display: inline-block;
    margin-top: 5px;
}
.n3{
    width: 300px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    color: red;
    font-weight: 700;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 1px;
    display: inline-block;
    margin-top: 5px;
}
.t2{
    color: red;
}
.b1{
    width: 300px;
    height: 20px;
    border: 2px solid red;
    border-radius: 20px;
    background: yellow;
    color: red;
    font-weight: 700;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 1px;
    display: inline-block;
    margin-top: 5px;
}


